[Unit]
Description=webiopi Server
After=syslog.target
After=network.target

[Service]

Type=forking
Restart=always
PIDFile=/var/run/webiopi.pid
ExecStart=/usr/bin/webiopi -c /etc/webiopi/config
#ExecStart=python3 -m webiopi $*


#ExecStop=/opt/proserver/bin/proserver stop

[Install]
WantedBy=multi-user.target
